# Arquivos de compilação
/target/

# Arquivos de configuração do Cargo
/Cargo.lock

# Arquivos de cache de build do cargo
/.cargo/

# Arquivos temporários e de backup
*.swp
*.bak

# Arquivos de configuração de IDEs
.idea/
.vscode/

# Arquivos de configuração específicos de sistemas
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Dependências do Rust (caso use o Rustup)
rust-toolchain.toml

# Diretório de instalação do Rust (caso tenha alguma instalação local)
.rustup/

# Arquivos de ambiente
.env